* {
   margin:0;
   padding:0;
   box-sizing: border-box;
 }


header{
  background-color:#EC715F;
  width: 100%;
  height: 70px;
}
.logo{
  height: 70px;
}

.container{
  width: 1024px;
  margin: 0 auto;
}
.header-group{
  display: flex;
  justify-content: space-between;
  line-height: 70px;
}

.nav_list{
  list-style: none;
  display: inline-block;
}

.nav_group a{
  color: #FAFAFA;
  text-decoration: none;
  margin: 0 30px;
}

#mv {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  text-align:center;
}

.mv_title{
  font-size: 64px;
  color: #FAFAFA;
  padding-top: 200px;
  padding-bottom:10px;
}
.mv_text{
  color: #FAFAFA;
  font-size: 20px;
}

#portfolio{
  background-color:#ECEFF1;
  padding: 90px 0;

}

.header_title{
 text-align: center;
}
.header_title::after{
  content: "";
  display: block;
  background-color:#EC715F;
  width: 70px;
  height: 3px;
  margin:8px auto 0 auto;
}
.header_text{
  text-align: center;
  padding-top: 30px;
  padding-bottom:30px;
}

.portfolio_image_group{
  width: 920px;
  margin:0 auto;
  display: flex;
  flex-wrap:wrap;
}

.portfolio_image{
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin:0 auto;
}

.portfolio_image{
  margin: 10px 10px 0 0 ;
}

/*４番目以降のmargin-topを０にする*/
.portfolio_image:nth-child(-n+3){
  margin-top: 0;
}

/*３の倍数（ここでは３番目と６番目）のmargin-rightを０にするにする*/
.portfolio_image:nth-child(3n){
  margin-right :0;
}

.No_1{
  background-image: url(img/sketch.jpg);

}
.No_2{
  background-image: url(img/websuku.png);
}
.No_3{
  background-image: url(img/write.jpg);
}
.No_4{
  background-image: url(img/webcamp.png);
}
.No_5{
 background-image: url(img/talk.jpg);
}
.No_6{
 background-image: url(img/webcamp-mother.png);
}

#feature{
  padding: 90px 0 ;
}

.strength_grpoup{
  width: 980px;
  margin: 0 auto;
}
.strength{
  width: 320px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

/*３番目のstrengthのmaegin-rightのみ０*/
.strength:nth-child(3n){
  margin-right: 0;
}


.fa{
  font-size: 60px;
}

.strength_title{
  font-size: 20px;
  color: #000;
  padding: 10px 0;
}

.strength_text{
  text-align:left;
}

#profile{
  background-color: #ECEFF1;
  padding: 90px 0;
}
.profile_group{
  display: flex;
  padding-top: 30px;
}
.left_content{
  width: 512px;
}
.profile_icon{
  width:250px;
  height:250px;
  border-radius: 50%;
  background-image: url(img/my-icon.jpg);
}
.right_content{
  width: 512px;
}
.profile_title{
  padding-bottom: 5px;
}
.profile_text{
  padding-bottom: 30px;
}

#contact{
  padding: 90px 0;
}
.contact-group{
  width: 800px;
  display: flex;
  margin: 0 auto;
}
.left_content{
  width: 400px;
}

.left_content_contact{
  width: 130px;
  margin: 0 auto;
}


.right_content{
  width: 400px;
}

.right_content_contact{
  width: 190px;
  margin: 0 auto;

}

.right_content .fa{
  font-size: 50px;
  margin-right: 20px;
}

.right_content .fa:last-child{
  margin-right: 0;
}

.contact_title{
  font-size: 20px;
  margin: 20px 0 5px 0;
}

.contact_title:first-child{
  margin-top: 0;
}

footer{
  height: 60px;
  background-color: #EC715F;
}

.footer_text{
  color: #FFF;
  text-align:center;
  line-height: 60px;
}

@media screen and (max-width:768px){
  header{
    height: 50px;
  }

  .header_title{
    width:90%;
    margin:0 auto;
  }

  .header_text{
    width:90%;
    margin:0 auto;
  }

  .container{
    width: 90% ;
  }

  .nav_box{
    width: 40px;
    height: 40px;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 5%;
  }

  .nav_bar{
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color:#FAFAFA;

  }

  .nav_bar:first-child{
    margin-top: 10px;
  }

  .nav_list{
    display:none;
  }

  .logo{
  height: 50px;
  }


  .mv_title{
    font-size: 40px;
  }
  .mv_text{
    font-size: 18px;
  }

  .portfolio_image_group{
    width: 90%;
    margin:0 auto;
    display: block;
  }

  .portfolio_image{
    margin: 0 auto 10px;
  }

  /*４番目以降のmargin-topを０にする*/
  .portfolio_image:nth-child(3n){
    margin: 0 auto;
  }


  .No_1{
    background-image: url(img/websuku.png);
  }
  .No_2{
    background-image: url(img/webcamp.png);
  }
  .No_3{
    background-image: url(img/webcamp-mother.png);
  }

  .No_4{
    display: none;
  }
  .No_5{
    display: none;
  }
  .No_6{
    display: none;
  }

  .strength_grpoup{
    width: 90%;
    margin: 0 auto;
  }
  .strength{
    width: 320px;
    display: block;
    margin: 0 auto 10px;
  }

  .strength:nth-child(3n){
    margin: 0 auto;
  }

  .strength_title{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .strength_text{
    text-align:left;
  }

  .profile_group{
    display: block;
  }

  .left_content{
    width: 90%;
    margin:0 auto;
  }

  .profile_icon{
    margin:0 auto;
  }

  .right_content{
    width: 90%;
    margin:0 auto;
  }

  .profile_title{
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    margin:0 auto;
  }

  .profile_text{
    text-align:center;
  }

  .contact-group{
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  .contact_title{
    margin: 0 0 5px 0;
    text-align: center;
  }

  .contact_text{
    text-align: center;
    padding-bottom:20px;
  }

  .right_content .fa{
  margin-right: 8px;
  }

  .right_content .fa:last-child{
    margin-right: 0;
  }

  .right_content_contact {
    width: 100%;
    text-align: center;
  }

}







